

main {
  height: 70vh;
}
.mainImg {
  width: 100%;
  height: 800px;
  object-fit: cover;
}

.imgContainer {
  width: 60%;
}

.textSide {
  width: 40%;
}

.textSide p {
  margin-bottom: 10px;
}

.d-flex {
  display: flex;
 gap: 34px
}