main {
  margin: 150px 0;
}

/* About Section */
.about-content {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}
.about-content .mainImg {
  width: 100%;
  height: 800px;
  object-fit: cover;
}
.about-content .imgContainer {
  width: 48%;
}
.about-content .textSide {
  width: 48%;
}
.about-content .heading {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}
.about-content p {
margin-bottom: 20px;
}

@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
  .about-content .imgContainer,
  .about-content .textSide {
      width: unset;
  }
}

/* What We Do Section */
